.App {
  display: flex;
  margin: 40px;
  min-height: calc(100vh - 80px);
}

/* className's left and right were added later on into the app.js, because for this 
exercise it required you to do the changes to SPLIT from APP.JS file. Now, if we check the browser webpage now, nothing has changed! 
The styles didn't work. We need to make the Split component configurable! 
We need to make the Split component understand the new classNames. 

When we make custom components, 
they won't use any className props their parent gives them unless we explicitly add that feature to our custom component.

Inside the Split component, add code to read the props and create a new, combined className.
The combinedClassName includes the hardcoded split class and the className passed in as a prop (either right or left in this case).
*/

.left {
  background-color: darkslategray;
  color: azure;
}

.right {
  background-color: wheat;
  color: firebrick;
}
